/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
box-sizing: border-box;
outline: 1px solid black;
}

.index_body{
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg);
  background-repeat: no-repeat;
  background-position:top right,-16% 16%;
  background-size: 52%,20%;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

@media(max-width:768px){
  .index_body{
    background-image: none;
  }
  .container{
    background-image:none; 
    padding: 0; 
  }
}



/* header */

.header {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header img{
  width: 218px;;
  height: auto;
}
.header_button{
  display: block;
  padding: 8px 32px;
  text-decoration: none;
  color:#fff;
  background: #FF5D50;
  border-radius: 22px;
  height: auto;
}

@media(max-width:768px){
  .header{
    margin-bottom: 32px;
    border-bottom: 2px solid #FFD153 ;
    padding: 16px 20px;
  }
  .header img{
    width: 130px; 
  }
}

/* banner */

.banner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 217px;
}
.banner_title{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_img{
  width: 40%;
  height: auto;
  margin-left: 100px;
}
h1{
  font-size: 18px;
  color: #56C4C5;
  font-weight: bold;
  margin-bottom: 20px;
}
h2{
  font-size: 48px;
  color: #221E1F;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner_title p{
  font-size: 20px;
  color: #221E1F;
}

@media(max-width:768px){
  .banner{
    flex-wrap: wrap;
    margin-bottom: 32px;
    padding: 0 20px 0 20px;
  }
  .banner_title{
    width: 100%;
  }
  .banner_img{
    width: 100%;
    height: auto;
    margin-left: 42px;
    margin-right: 29px;
    background: url(https://dorahlc.github.io/ChatTalkerAI/img/bg_home_sm.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
  }
  h1{
    font-size: 16px;
    margin-bottom: 8px;
  }
  h2{
    font-size: 32px;
    margin-bottom: 16px;
  }
}

/* content_platform */


h3{
  text-align: center;
  font-size: 24px;
  color: #221E1F;
  font-weight: bold;
  margin-bottom: 48px;
}

.content_platform_type{
  display: flex;
  justify-content: space-around; 
  margin-bottom: 100px;
  }

.content_platform img{
  width: 25%;
  height: auto;
  margin-bottom: 24px;
  
}
.content_platform{
  text-align: center; 
}
.content_platform_title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  }
  
.content_platform_text{
  font-size: 16px;
  color: #747474;
  line-height: 1.5;
}

@media(max-width:768px){
  .content_platform_type{
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
  }
  h3{
    font-size: 32px;
  }
  .content_platform {
     margin-bottom: 24px; 
    }
  .content_platform_title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  }
  .content_platform_text{
    font-size: 16px;
  }
}



/* content_role */

.content_role{
  margin-bottom: 100px;
}

h4{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.content_role_title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 48px;
  line-height: 1.5;
}

.content_role{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content_role_card{
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  width: 23%;
  text-align: center;
}

.content_role_card img{
  border-radius: 12px 12px 0 0 ;
  width: 100%;
  height: auto;
}

.content_role_card_title{
  color: #56C4C5;
  margin-top: 20px;
  margin-bottom: 16px;
}
.content_role_card_text{
  color: #221E1F;
  line-height: 1.5;
  margin-bottom: 24px;
}

@media(max-width:768px){
  .content_role{
    margin: 0 auto;
    margin:0 57px 60px 57px;
    margin-bottom: 60px;
  }
  h4{
    font-size: 28px;
    margin-bottom: 16px;
  }
  .content_role_title{
    font-size: 18px;
    margin-bottom: 32px;
    padding: 0 21px;
  }
  .content_role{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 36px;
  }
  .content_role_card{
    width: 100%;
    margin-bottom: 24px;
  }
}


/* content_funtion */

.content_funtion{
  display: flex;
  flex-direction: row-reverse;  
  align-items: center;
  margin-bottom: 100px;
}
.content_funtion_title{
  width: 58%;
}

.content_funtion_title p{
  font-size: 18px;
  margin-bottom: 36px;
  line-height: 1.5;
}
.content_funtion_title a{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  padding: 12px 32px;
  background: #56C4C5;
  border-radius: 27px;
}

.content_funtion_point{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -28px;
}
.content_funtion_card{
  width: 230px;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-right: 47px;
  margin-bottom: 28px;
  padding: 32px;
}
.content_funtion_card_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 50px;
  margin-bottom: 24px;
  }
.content_funtion_card_icon img{
width: 52px;
height: 52px;
}

.content_funtion_card_title{
  font-size: 18px;
  font-weight: bold;
  color: #221E1F;
  margin-bottom: 20px;
}
.content_funtion_card_text{
  line-height: 1.5;
  margin-bottom: 48px;
}

@media(max-width:768px){
  .content_funtion{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .content_funtion_title{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .content_funtion_title p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
  }
  .content_funtion_title a{
    margin-bottom: 32px;
  }
  .content_funtion_point{
    justify-content: center;
    margin-bottom: -24px;
  }
  .content_funtion_card{
    width: 100%;
    margin-bottom: 24px;
  }
}


/* content_user */
h5{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 104px;
  text-align: center;
}

.content_user_feedback{
  display: flex;
  justify-content: space-between;
  margin-right: -16px;
  margin-bottom: 24px;
}
.content_user_feedback_card{
  width: 33%;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 48px 32px 0px 32px; 
  margin-right: 16px;
  position: relative;
}
.content_user_feedback_card .user{
  width: 80px;
  height: 80px;
  position: absolute;
  top: -55px;
  left: 30px;
  border-radius: 50%;
}
.content_user_feedback_card .feedback{
  padding-bottom: 24px;
  line-height: 1.5;
  border-bottom: 1px solid #DDDDDD;
}

.content_user_feedback_card_info .company{
  margin-top: 24px;
  font-weight: bold;
  line-height: 2;
}

.content_user_feedback_card_info .job{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.job .star{
  display: flex;
}
.job .star li{
  margin-right: 8px; 
} 

@media(max-width:768px){
  h5{
    font-size: 28px;
    margin-bottom: 88px;
  }
  .content_user_feedback{
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
  }
  .content_user_feedback_card{
    width: 100%;
    margin-bottom: 40px;
  }
  .content_user_feedback_card .user{
    top: -35px;
    left: 30px;
  }
  }


/* content_user_page */

.content_user_page {
margin-bottom: 100px;
}
.content_user_page ul{
  display: flex;
  justify-content: center;

}
.content_user_page ul li{
  background: #DDDDDD;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 8px;
}
.content_user_page ul .this_page{
  background:#FFD153;
  width: 16px;
  height: 10px;
  border-radius: 50px;
  margin-right: 8px;
}
@media(max-width:768px){
.content_user_page {
  margin-bottom: 60px;
  }
}

/* home_footer */

.home_footer{
  max-width: 1088px;
  margin: 0 auto;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat;
  background-size: contain;

}
h6{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 260px 0 48px 0;
}
.home_footer a{
  display: inline-block;
  padding: 12px 32px;
  text-decoration: none;
  color:#fff;
  background: #56C4C5;
  border-radius: 22px;
  margin-bottom: 100px;
}

.home_footer p{
  background: #F5F5F5;
  text-align: center;
  padding: 16px;
}

@media(max-width:768px){
  .home_footer{
  background-image:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg);
  flex-wrap: wrap;
  }
h6{
    font-size: 24px;
    padding: 293px 0 24px 0;
  }
  .home_footer a{
    margin-bottom: 60px;
  }
  }

/* ball */
/* .hero_ball{
  width: 360px;
  position: absolute;
  left: -222px;
  top: 588px;
}
.hero_ball_sb{
  width: 310px;
  position: absolute;
  right: -100px;
  top: 1550px;
  z-index: -5;
}
.hero_ball_sy{
  width: 150px;
  position: absolute;
  left: 55px;
  bottom: 230px;
  z-index: -5;
} */

